section {
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-family: "Ade Display", serif;
  color: #23282d;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 8rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: "Questrial", sans-serif;
  color: #23282d;
}

button {
  position: relative;
  z-index: 2;
}
